/*========== GOOGLE FONTS ==========*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #58555E;
  --text-color-light: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 300;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  /* margin: var(--header-height) 0 0 0; */
  /* padding: 1rem 1rem 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.property_wrapper {
    margin: var(--header-height) 0 0 0;
    padding: 1rem 1rem 0;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}


/*========== HEADER ==========*/
.partner__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00648c;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: flex-end;
  gap: 4rem;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: #fff;
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.partnernav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: #00648c;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.partnernav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.partnernav__container::-webkit-scrollbar {
  display: none;
}

.partnernav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.partnernav__list, 
.partnernav__items {
  display: grid;
}

.partnernav__list {
  row-gap: 2.5rem;
}

.partnernav__items {
  row-gap: 1.5rem;
}

.partnernav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.partnernav__link {
  display: flex;
  align-items: center;
  color: #fff;
}

.partnernav__link:hover {
  color: var(--text-color-light);
}

.partnernav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.partnernav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.partnernav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.partnernav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.partnernav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.partnernav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.partnernav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.partnernav__dropdown-item:hover {
  color: var(--first-color);
}

.partnernav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.partnernav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.partnernav__dropdown:hover .partnernav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: #eee;
}















.tab__summary {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}


.center__item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center__vertical {
  display: flex;
  align-items: center;
}

.color_green {
  color: #21ba45;
}

.color_red {
  color: #ff3434;
}

.bg_green {
  background: #21ba45;
}

.bg_red {
  background: #ff3434;
}



.tst {
  display: flex;

}

.tab__summary {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  /* gap: 1rem; */
  justify-content: space-between;
  padding: 0 25px;
}

.tab__item {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  background: #fff;
  justify-content: space-evenly;
  padding: 5px 17px 7px;
  box-shadow: 0 4px 0px 0 rgb(0 0 0 / 0%), 0 0px 0px 0 rgb(0 0 0 / 0%);
  border: .2px solid #ddd;
  flex-direction: row;
}

.tab__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.tab__data p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.tab__data span {
  font-size: 13px;
  color: #b1b1b1;
}

.tab__icon {
  display: flex;
  align-items: center;
  font-size: 29px;
}

.tab__icon img {
  transform: translateY(-2px);
}

.tabname {
  font-size: 20px;
}

.reservationtab__filters {
  display: grid; 
  grid-template-columns: repeat(6, 1fr); 
  gap:2rem;
}

.checkouttab__filters {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  gap:2rem;
}

.reporttab__filters {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  gap:2rem;
}

.custom__dropdown {
  display: block;
  min-width: 100%;
}

.tabicon__box {
  display:flex; 
  gap:25px;
}


.gray_icon {
  background: #b4b4b4;
}
.red_icon {
  background: #f20;
}
.yellow_icon {
  background: #fffb03;
}
.amber_icon {
  background: #f4a204;
}
.purple_icon {
  background: #d540ff;
}
.blue_icon {
  background: #4099ff;
}
.green_icon {
  background: #1dbb06;
}

.legend_btn {
  border: none;
  border-radius: 6px;
  background: #e9379b;
  color: #fff;
  cursor: pointer;
  padding: 8px 20px;
  height: 100%;
}

#legendDropdown {
  right: 0%;
  top: 13%;
  z-index: 10;
  /* width: 400px; */
}


.legend_icon {
  margin-right: 20px;
  display: inline-block;
  height: 18px;
  width: 18px;
  font-style: normal;
  border-radius: 4px;
}

.legend-dropdown div.legend-item {
  display: flex;
  align-items: center;
  color: var(--color-grey-5);
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}

.legend-dropdown > div:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-3);
}

.legend-dropdown {
  display: none;
  position: fixed;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.legendbtn_box {
  display: flex;
  justify-content: flex-end;
}

.show {display: block !important;}
.hide_element {display: none !important;}


.choosedate {
  margin-left: 2rem;
}

#dates-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

.cal-row{
  min-width: 1050px !important;
  display: flex;
}

.cal-col{
  width: 33.333%;
}

/* #large-calendar{
  overflow-x: auto;
} */

.occupancy_report {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-auto-rows: auto;
  margin-bottom: 2rem;
  gap: 1rem;
  border: 1px solid #ddd;
  padding: 11px;
  border-radius: 5px;
  background: #fff;
  width: 100%;
  padding-top: 20px;
  margin-top: 13px;
}

.occupancy_item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 6px;
  background: #fff;
  align-items: center;
}


@media screen and (max-width: 81.25em) { /** 1300px */
  .reservationtab__filters {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .reporttab__filters {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media screen and (max-width: 65.3em) { /** 1045px */
  .checkouttab__filters {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-columns: repeat(2, 1fr);
  }

  #dates-row {
    grid-template-columns: 1fr 1fr;
  }

  .legendbtn_box {
    justify-content: end;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 46.25em) { /** 740px */
  .tab__summary {
    flex-direction: column;
    gap: 15px;
  }

  .tab__summary .center__item {
    justify-content: end;
  }

  .legend__footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }

  #dates-row {
    grid-template-columns: 1fr;    
  }

  .choosedate {
    margin-left: 0rem;
    margin: 1rem 0;
  }

  .legendbtn_box {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 37.5em) { /** 600px */
  .checkouttab__filters {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(4, 1fr);
  }

  .reporttab__filters {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(5, 1fr);
  }

  .reservationtab__filters {
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(6, 1fr);
  }
  
  .tabicon__box {
    flex-direction: column;
  }

  .tab__item {
    justify-content: center;
    padding: 20px;
  }

  button.header__menubtn, #alert__btn, #current_user {
    display: none !important;
  }

  .calendar-label {
    font-size: 12px !important;
  }
}



















/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  /* body {
    padding: 1rem 3rem 0 6rem;
  } */
  .property_wrapper {
    padding: 1rem 3rem 0 6rem;
  }

  .partner__header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .partnernav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbar */
  }
  .partnernav__items {
    row-gap: 1.7rem;
  }
  .partnernav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .partnernav__logo-name, 
  .partnernav__name, 
  .partnernav__subtitle, 
  .partnernav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .partnernav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .partnernav:hover .partnernav__logo-name {
    opacity: 1;
  }
  .partnernav:hover .partnernav__subtitle {
    opacity: 1;
  }
  .partnernav:hover .partnernav__name {
    opacity: 1;
  }
  .partnernav:hover .partnernav__dropdown-icon {
    opacity: 1;
  }
}
